/* VAR COLORES*/
html {
  font-size: 62.5%; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #ffb703ff;
  position: relative;
  min-height: 100vh;
  padding-bottom: 7.5rem; }

/* WSP */
.wsp {
  opacity: 40%;
  position: fixed;
  bottom: 10%;
  left: 90%;
  z-index: 1000; }
  .wsp:hover {
    opacity: 100%;
    transition: 0.5s; }
  .wsp .wsp__texto {
    text-align: center;
    text-decoration: none;
    font-size: medium;
    color: black;
    font-weight: bold; }
    .wsp .wsp__texto:hover {
      opacity: 100%;
      transition: 0.5s;
      color: red; }
  .wsp .wsp__img {
    margin: 0 auto;
    display: block;
    margin-top: 0.3rem;
    width: 7rem;
    height: 7rem; }

/* HEADER*/
header {
  width: 100%; }
  header .navbar {
    padding: 0; }
    header .navbar .container-fluid {
      background-color: #fb8500ff;
      width: 100%; }
      header .navbar .container-fluid .logo {
        width: 150px;
        height: 150px;
        margin-bottom: 1rem; }
      header .navbar .container-fluid .navbar-toggler {
        width: 6rem;
        height: 6rem; }
        header .navbar .container-fluid .navbar-toggler .navbar-toggler-icon {
          width: 3rem; }
      header .navbar .container-fluid .navbar-collapse .navbar-nav {
        margin: 0 auto; }
        header .navbar .container-fluid .navbar-collapse .navbar-nav li {
          margin: 0 12rem;
          text-align: center;
          font-size: 1.8rem;
          font-weight: bold; }
          header .navbar .container-fluid .navbar-collapse .navbar-nav li .nav-link:hover {
            -webkit-transform: scale(1.3);
            transform: scale(1.1);
            transition: 0.5s; }
          header .navbar .container-fluid .navbar-collapse .navbar-nav li .nav-link .nav__iconos {
            width: 5rem;
            display: block;
            margin: auto auto; }

/* INICIO */
.principal h1 {
  display: block;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  background-color: #99582aff;
  color: #ffb703ff; }

.principal .carousel {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  height: 70vh;
  width: 100vw; }
  .principal .carousel .carousel-control-next-icon {
    width: 5rem;
    height: 5rem; }
  .principal .carousel .carousel-control-prev-icon {
    width: 5rem;
    height: 5rem; }
  .principal .carousel .visually-hidden {
    width: 20rem;
    height: 20rem; }
  .principal .carousel .d-block {
    height: 60rem;
    object-fit: contain; }

/* FOOTER */
footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 7rem;
  background-color: #fb8500ff;
  bottom: 0;
  padding: 1rem 0;
  position: absolute; }
  footer .div__ubicacion {
    text-align: center;
    margin-left: 1rem; }
    footer .div__ubicacion .titulomapa {
      font-size: medium;
      font-weight: bold;
      text-align: center; }
    footer .div__ubicacion .mapa {
      width: 4rem; }
      footer .div__ubicacion .mapa:hover {
        -webkit-transform: scale(1.3);
        transform: scale(1.1);
        transition: 0.5s; }
  footer .div__redes {
    text-align: center;
    margin-right: 1rem; }
    footer .div__redes .tituloredes {
      font-size: medium;
      font-weight: bold;
      text-align: center; }
    footer .div__redes .redes {
      width: 4rem; }
      footer .div__redes .redes:hover {
        -webkit-transform: scale(1.3);
        transform: scale(1.1);
        transition: 0.5s; }
  footer .copyright {
    text-align: center; }

/* NOSOTROS */
.principal__nosotros {
  background-image: url(../multimedia/papasfritas.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-attachment: scroll;
  background-size: 32rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin-top: 9rem; }
  .principal__nosotros .div__textonosotros {
    text-align: center;
    width: 40%; }
    .principal__nosotros .div__textonosotros .titulo__nosotros {
      font-size: 3rem;
      font-weight: bold;
      text-align: center;
      margin-top: 0rem;
      margin-bottom: 3rem;
      animation: move 1.5s infinite linear;
      animation-direction: alternate; }
    .principal__nosotros .div__textonosotros p {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 2.5rem; }
  .principal__nosotros .sobrenosotros {
    border: solid white 8px;
    border-radius: 5px;
    object-fit: cover;
    margin-bottom: 1rem;
    width: 45rem;
    height: 40rem; }

/* PRODUCTOS */
.principal__producto {
  background-image: url(../multimedia/aderezo.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: 25rem; }
  .principal__producto .titulo__menu {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2.5rem;
    animation: move 1.5s infinite linear;
    animation-direction: alternate; }
  .principal__producto .menu {
    text-align: center; }
    .principal__producto .menu .menu__producto {
      display: inline-block;
      text-align: center;
      width: 80rem;
      margin: 4rem 7rem; }
      .principal__producto .menu .menu__producto .productoimg {
        width: 24rem;
        height: 24rem;
        margin-right: 3rem;
        margin-top: 2rem;
        object-fit: cover;
        object-position: bottom;
        border: solid white 3px;
        border-radius: 5px; }
      .principal__producto .menu .menu__producto .menu_texto {
        display: inline-block;
        text-align: center;
        width: 48rem; }
        .principal__producto .menu .menu__producto .menu_texto .titulo__producto {
          font-weight: bold;
          font-size: 2rem;
          text-align: center;
          margin-top: 2rem;
          margin-bottom: 2.5rem; }
        .principal__producto .menu .menu__producto .menu_texto .descripcion_producto {
          font-size: large; }

/* GALERIA */
.principal__galeria {
  background-image: url(../multimedia/gaseosa.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background-size: 50rem; }
  .principal__galeria .titulo__galeria {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    animation: move 1.5s infinite linear;
    animation-direction: alternate; }
  .principal__galeria .galeria {
    display: grid;
    grid-template-columns: 4 1fr;
    grid-template-rows: 2 1fr;
    grid-template-areas: "foto foto foto foto" "foto foto foto foto";
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-around;
    margin-bottom: 1rem;
    gap: 1rem; }
    .principal__galeria .galeria .foto {
      justify-self: center;
      align-items: center;
      margin: 1.8rem 0;
      width: 26rem;
      height: 26rem;
      border: solid white 3px;
      border-radius: 5px; }
      .principal__galeria .galeria .foto:hover {
        transform: scale(1.2); }
      .principal__galeria .galeria .foto img {
        text-align: center;
        width: 100%;
        height: 100%;
        object-fit: cover; }

/* CONTACTO */
.principal__contacto {
  background-image: url(../multimedia/hamburguesa.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-attachment: scroll;
  background-size: 40rem; }
  .principal__contacto .titulo__contacto {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2.5rem;
    animation: move 1.5s infinite linear;
    animation-direction: alternate; }
  .principal__contacto .div__contacto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 8rem; }
    .principal__contacto .div__contacto .mapa__insert .mapa__inserttitulo {
      text-align: center;
      font-size: large;
      font-weight: bold; }
    .principal__contacto .div__contacto .mapa__insert .mapa__imagen {
      width: 50rem;
      height: 35rem; }
    .principal__contacto .div__contacto .formulario {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      font-size: 2.5rem;
      text-align: center;
      justify-items: center;
      align-items: center;
      margin-bottom: 3rem;
      margin-right: 2rem; }
      .principal__contacto .div__contacto .formulario .mb-3 {
        width: 50rem; }
        .principal__contacto .div__contacto .formulario .mb-3 .form-control {
          font-size: large;
          font-weight: bold;
          text-align: center; }
        .principal__contacto .div__contacto .formulario .mb-3 .textarea {
          text-align: start;
          overflow: auto;
          resize: none; }
      .principal__contacto .div__contacto .formulario .btn {
        width: 10rem;
        font-size: 2rem;
        margin-top: 4rem;
        background-color: #fb8500ff;
        border-color: black;
        color: black;
        font-weight: bold;
        transition: 0.6s; }
        .principal__contacto .div__contacto .formulario .btn:hover {
          background-color: #219ebcff;
          border: solid black 1px; }

@keyframes move {
  from {
    transform: rotate(15deg); }
  to {
    transform: rotate(-15deg); } }

/* LAPTOP L */
@media screen and (max-width: 1440px) {
  .wsp {
    left: 87%; }
  header .navbar .container-fluid .collapse .navbar-nav li {
    margin: 0 8rem; }
  .principal__contacto {
    background-size: 29rem; }
    .principal__contacto .div__contacto {
      margin-bottom: 2rem; }
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .menu .menu__producto {
      display: inline-block;
      text-align: center;
      width: 70rem;
      margin: 4rem 0rem; }
      .menu .menu__producto .productoimg {
        width: 25rem;
        height: 25rem;
        margin-bottom: 1rem; }
  .principal__nosotros {
    background-size: 24rem; } }

/* LAPTOP */
@media screen and (max-width: 1024px) {
  .wsp {
    bottom: 10%;
    left: 88%;
    text-align: center; }
    .wsp .wsp__texto {
      font-size: 1.1rem; }
    .wsp .wsp__img {
      width: 6rem;
      height: 6rem; }
  header .navbar .container-fluid .collapse .navbar-nav li {
    margin: 0 4rem; }
  .menu .menu__producto .productoimg {
    margin-bottom: 1rem; }
  .principal__galeria .galeria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .principal__galeria .galeria .foto {
      width: 21rem;
      height: 21rem; }
  .principal__producto {
    margin-top: 3rem; }
    .principal__producto .menu {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly; }
      .principal__producto .menu .menu__producto {
        margin-bottom: 1rem;
        margin-top: 0; }
        .principal__producto .menu .menu__producto .productoimg {
          margin: 1rem 0; }
        .principal__producto .menu .menu__producto .menu_texto .titulo__producto {
          margin-top: 1rem; }
        .principal__producto .menu .menu__producto .menu_texto .descripcion_producto {
          margin-bottom: 1rem;
          margin-top: 0; }
  .principal__contacto {
    background-position: left;
    background-size: 33rem; }
    .principal__contacto .div__contacto {
      margin-top: 6rem; }
      .principal__contacto .div__contacto .formulario {
        margin-right: 0rem; }
  .principal__nosotros {
    background-image: none;
    margin-top: 5rem; }
    .principal__nosotros .div__textonosotros {
      text-align: center;
      width: 50%; }
  .principal .carousel .carousel-inner .carousel-item .d-block {
    height: 52rem; } }

/* TABLET */
@media screen and (max-width: 768px) {
  .wsp {
    bottom: 10%;
    left: 85%;
    text-align: center; }
    .wsp .wsp__texto {
      font-size: 0.8rem; }
    .wsp .wsp__img {
      width: 5rem;
      height: 5rem; }
  .principal__nosotros {
    background-image: none;
    margin-top: 3rem; }
    .principal__nosotros .div__textonosotros {
      text-align: center;
      width: 95%; }
  .principal__producto .menu .menu__producto .menu_texto {
    margin-bottom: 1rem;
    margin-top: 0;
    width: 95%; }
  .principal__contacto {
    background-size: 30rem; }
    .principal__contacto .div__contacto .formulario {
      margin-bottom: 5rem;
      margin-right: 0rem; }
      .principal__contacto .div__contacto .formulario .mb-3 {
        width: 35rem; }
      .principal__contacto .div__contacto .formulario .form-check .form-check-label {
        font-size: large; }
    .principal__contacto .div__contacto .mapa__insert .mapa__imagen {
      width: 35rem; }
  footer .div__ubicacion .mapa {
    width: 4rem; }
  .principal h1 {
    font-size: 2rem; }
  .principal__galeria {
    background-position: center bottom; } }

/*MOBILE L*/
@media screen and (max-width: 425px) {
  header .navbar .container-fluid a .logo {
    width: 100px;
    height: 100px; }
  footer .div__ubicacion .titulomapa {
    font-size: 1.5rem; }
  footer .div__ubicacion .mapa {
    width: 2.5rem; }
  footer .div__redes .tituloredes {
    font-size: 1.5rem; }
  footer .div__redes .redes {
    width: 2.5rem; }
  footer .copyright {
    font-size: 1.2rem; }
  .principal__nosotros .div__imagennosotros .sobrenosotros {
    width: 36rem;
    height: 26rem; }
  .principal__contacto {
    background-image: none; }
  .principal__galeria {
    background-image: none; }
  .principal__producto {
    background-image: none; } }

/*MOBILE M*/
@media screen and (max-width: 425px) {
  footer .div__ubicacion .titulomapa {
    font-size: 1rem; }
  footer .div__ubicacion .mapa {
    width: 2.5rem; }
  footer .div__redes .tituloredes {
    font-size: 1rem; }
  footer .div__redes .redes {
    width: 2.5rem; }
  footer .copyright {
    font-size: 1.1rem; } }

/* MOBILE S */
@media screen and (max-width: 320px) {
  .principal__contacto .div__contacto .formulario {
    margin-bottom: 5rem;
    margin-right: 0rem; }
    .principal__contacto .div__contacto .formulario .mb-3 {
      width: 30rem; }
    .principal__contacto .div__contacto .formulario .form-check .form-check-label {
      font-size: 1.4rem; }
  .principal__contacto .div__contacto .mapa__insert .mapa__imagen {
    width: 30rem; }
  .wsp .wsp__texto {
    font-size: 1rem; }
  .wsp .wsp__img {
    width: 4rem;
    height: 4rem; }
  .principal__nosotros {
    margin-top: 3rem; }
    .principal__nosotros .div__textonosotros {
      text-align: center;
      width: 90%; }
    .principal__nosotros .div__imagennosotros .sobrenosotros {
      width: 30rem;
      height: 20rem; }
  footer .div__ubicacion .mapa {
    width: 2.3rem; }
  footer .div__redes .redes {
    width: 2.3rem; }
  footer .copyright {
    text-align: center;
    font-size: 0.9rem; } }

#foto-1 {
  border: solid white 8px; }

#productoimg-1 {
  border: solid white 8px; }

#foto-2 {
  border: solid black 8px; }

#productoimg-2 {
  border: solid black 8px; }

#foto-3 {
  border: solid white 8px; }

#productoimg-3 {
  border: solid white 8px; }

#foto-4 {
  border: solid black 8px; }

#productoimg-4 {
  border: solid black 8px; }

#foto-5 {
  border: solid white 8px; }

#productoimg-5 {
  border: solid white 8px; }

#foto-6 {
  border: solid black 8px; }

#productoimg-6 {
  border: solid black 8px; }

#foto-7 {
  border: solid white 8px; }

#productoimg-7 {
  border: solid white 8px; }

#foto-8 {
  border: solid black 8px; }

#productoimg-8 {
  border: solid black 8px; }

#foto-9 {
  border: solid white 8px; }

#productoimg-9 {
  border: solid white 8px; }

#foto-10 {
  border: solid black 8px; }

#productoimg-10 {
  border: solid black 8px; }
