/* LAPTOP L */

@media screen and (max-width: 1440px){

    .wsp{
        left: 87%;
    }

    .navbar{
        .container-fluid{
            .collapse{
                .navbar-nav{
                    li{
                        margin: 0 8rem;
                    }
                }
            }
        }
    }

    .principal__contacto{
        .div__contacto{
            margin-bottom: 2rem;
        }
    }
    
    .menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        .menu__producto{
            display: inline-block;
            text-align: center;
            width: 70rem;
            margin: 4rem 0rem;
            .productoimg{
                width: 25rem;
                height: 25rem;
                margin-bottom: 1rem;
            }
        }
    }
}


/* LAPTOP */

@media screen and (max-width: 1024px){
    .wsp{
        bottom: 10%;
        left: 88%;
        text-align: center;
        .wsp__texto{
            font-size: 1.1rem;
        }
        .wsp__img{
            width: 6rem;
            height: 6rem;
        }
    }

    .navbar{
        .container-fluid{
            .collapse{
                .navbar-nav{
                    li{
                        margin: 0 4rem;
                    }
                }
            }
        }
    }

    .menu{
        .menu__producto{
            .productoimg{
                margin-bottom: 1rem;}
        }
    }

    .principal__galeria{
        .galeria{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            .foto{
                width: 21rem;
                height: 21rem;
            }
        }
    }

    .principal__producto{
        margin-top: 3rem;
        .menu{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            .menu__producto{
                margin-bottom: 1rem;
                margin-top: 0;
                .productoimg{
                    margin: 1rem 0;
                }
                .menu_texto{
                    .titulo__producto{
                        margin-top: 1rem;
                    }
                    .descripcion_producto{
                        margin-bottom: 1rem;
                        margin-top: 0;
                    }
                }
            }
        }
    }

    .principal__contacto{
        .div__contacto{
            margin-top: 6rem;
        }
    }
}

/* TABLET */

@media screen and (max-width: 768px){
    .wsp{
        bottom: 10%;
        left: 90%;
        text-align: center;
        .wsp__texto{
            font-size: 1.1rem;
        }
        .wsp__img{
            width: 5rem;
            height: 5rem;
        }
    }

    .principal__nosotros{
        flex-direction:column;
        margin-top: 4rem;
        .div__textonosotros{
            text-align: center;
            width: 95%;
        }
        .div__imagennosotros{
            .sobrenosotros{
                width: 50rem;
                height: 30rem;
            }
        }
    }


    .galeria{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .div__contacto{
    margin-top: 6rem;
    }

}

/* CELULAR */

@media screen and (max-width: 500px){
    .wsp{
        bottom: 10%;
        left: 85%;
        text-align: center;
        .wsp__texto{
            font-size: 0.8rem;
        }
        .wsp__img{
            width: 5rem;
            height: 5rem;
        }
    }

    .principal__nosotros{
        .div__textonosotros{
            text-align: center;
            width: 95%;
        }
        .div__imagennosotros{
            .sobrenosotros{
                width: 36rem;
                height: 26rem;
            }
        }
    }

    .menu{
        .menu__producto{
            .menu_texto{
                margin-bottom: 1rem;
                margin-top: 0;
                width: 95%;
            }
        }
    }

    .principal__contacto{
        .div__contacto{
            .formulario{
                margin-bottom: 5rem;
                margin-right: 0rem;
                .mb-3{
                    width: 35rem;
                }
                .form-check{
                    .form-check-label{
                        font-size: large;
                    }
                }
            }
            .mapa__insert{
                .mapa__imagen{
                    width: 35rem;
                }
            }
        }
    }

    .footer{
        .div__ubicacion{
            .mapa {
                width: 2.5rem;
            }
            .titulomapa {
                font-size: 1.1rem;
                font-weight: bold;
                text-align: center;
            }
        }
        .div__redes{
            .redes {
                width: 2.5rem;
            }
            .tituloredes {
                font-size: 1.1rem;
                font-weight: bold;
                text-align: center;
            }
        }
        .copyright{
            text-align: center;
            font-size: 1.1rem;
        }
    }
}