/* LAPTOP L */

@media screen and (max-width: 1440px){

    .wsp{
        left: 87%;
    }

    header{
        .navbar{
            .container-fluid{
                .collapse{
                    .navbar-nav{
                        li{
                            margin: 0 8rem;
                        }
                    }
                }
            }
        }
    }

    .principal__contacto{
        .div__contacto{
            margin-bottom: 2rem;
        }
    }
    
    .menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        .menu__producto{
            display: inline-block;
            text-align: center;
            width: 70rem;
            margin: 4rem 0rem;
            .productoimg{
                width: 25rem;
                height: 25rem;
                margin-bottom: 1rem;
            }
        }
    }
}


/* LAPTOP */

@media screen and (max-width: 1024px){
    .wsp{
        bottom: 10%;
        left: 88%;
        text-align: center;
        .wsp__texto{
            font-size: 1.1rem;
        }
        .wsp__img{
            width: 6rem;
            height: 6rem;
        }
    }

    header{
        .navbar{
            .container-fluid{
                .collapse{
                    .navbar-nav{
                        li{
                            margin: 0 4rem;
                        }
                    }
                }
            }
        }        
    }

    .menu{
        .menu__producto{
            .productoimg{
                margin-bottom: 1rem;}
        }
    }

    .principal__galeria{
        .galeria{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            .foto{
                width: 21rem;
                height: 21rem;
            }
        }
    }

    .principal__producto{
        margin-top: 3rem;
        .menu{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            .menu__producto{
                margin-bottom: 1rem;
                margin-top: 0;
                .productoimg{
                    margin: 1rem 0;
                }
                .menu_texto{
                    .titulo__producto{
                        margin-top: 1rem;
                    }
                    .descripcion_producto{
                        margin-bottom: 1rem;
                        margin-top: 0;
                    }
                }
            }
        }
    }

    .principal__contacto{
        background-position: left;
        background-size: 33rem;
        .div__contacto{
            margin-top: 6rem;
            .formulario{
                margin-right: 0rem;
            }
        }
    }

    .principal__nosotros{
        background-image: none;
        margin-top: 5rem;
        .div__textonosotros{
            text-align: center;
            width: 50%;
        }
    }
    
}

/* TABLET */

@media screen and (max-width: 768px){
    .wsp{
        bottom: 10%;
        left: 85%;
        text-align: center;
        .wsp__texto{
            font-size: 0.8rem;
        }
        .wsp__img{
            width: 5rem;
            height: 5rem;
        }
    }

    .principal__nosotros{
        background-image: none;
        margin-top: 3rem;
        .div__textonosotros{
            text-align: center;
            width: 95%;
        }
    }

    .principal__producto{
        .menu{
            .menu__producto{
                .menu_texto{
                    margin-bottom: 1rem;
                    margin-top: 0;
                    width: 95%;
                }
            }
        }
    }

    .principal__contacto{
        background-size: 30rem;
        .div__contacto{
            .formulario{
                margin-bottom: 5rem;
                margin-right: 0rem;
                .mb-3{
                    width: 35rem;
                }
                .form-check{
                    .form-check-label{
                        font-size: large;
                    }
                }
            }
            .mapa__insert{
                .mapa__imagen{
                    width: 35rem;
                }
            }
        }
    }

    footer{
        .div__ubicacion{
            .mapa {
                width: 4rem;
            }
        }
    }

    .principal{
        h1{
            font-size: 2rem;
        }
    }

    .principal__galeria{
        background-position: center bottom;
    }
}

/*MOBILE L*/

@media screen and (max-width: 425px){

    header{
        .navbar{
            .container-fluid{
                a{
                    .logo{
                        width: 100px;
                        height: 100px;
                    }
                }
            }
        }
    }

    footer{
        .div__ubicacion{
            .titulomapa {
                font-size: 1.5rem;
            }
            .mapa {
                width: 2.5rem;
            }
        }
        .div__redes{
            .tituloredes{
                font-size: 1.5rem;
            }
            .redes {
                width: 2.5rem;
            }
        }
        .copyright{
            font-size: 1.2rem;
        }
    }

    .principal__nosotros{
        .div__imagennosotros{
            .sobrenosotros{
                width: 36rem;
                height: 26rem;
            }
        }
    }

    .principal__contacto{
        background-image: none;
    }

    .principal__galeria{
        background-image: none;
    }

    .principal__producto{
        background-image: none;
    }
}

/*MOBILE M*/

@media screen and (max-width: 425px){
    footer{
        .div__ubicacion{
            .titulomapa {
                font-size: 1rem;
            }
            .mapa {
                width: 2.5rem;
            }
        }
        .div__redes{
            .tituloredes{
                font-size: 1rem;
            }
            .redes {
                width: 2.5rem;
            }
        }
        .copyright{
            font-size: 1.1rem;
        }
    }
}

/* MOBILE S */

@media screen and (max-width: 320px){

    .principal__contacto{
        .div__contacto{
            .formulario{
                margin-bottom: 5rem;
                margin-right: 0rem;
                .mb-3{
                    width: 30rem;
                }
                .form-check{
                    .form-check-label{
                        font-size: 1.4rem;
                    }
                }
            }
            .mapa__insert{
                .mapa__imagen{
                    width: 30rem;
                }
            }
        }
    }

    .wsp{
        .wsp__texto{
            font-size: 1rem;
        }
        .wsp__img{
            width: 4rem;
            height: 4rem;
        }
    }

    .principal__nosotros{
        margin-top: 3rem;
        .div__textonosotros{
            text-align: center;
            width: 90%;
        }
        .div__imagennosotros{
            .sobrenosotros{
                width: 30rem;
                height: 20rem;
            }
        }
    }

    footer{
        .div__ubicacion{
            .mapa {
                width: 2.3rem;
            }
        }
        .div__redes{
            .redes {
                width: 2.3rem;
            }
        }
        .copyright{
            text-align: center;
            font-size: 0.9rem;
        }
    }
}

/*LANDSCAPE*/

@media screen and (max-width: 1440px) and (orientation: landscape){

    .wsp{
        bottom: 19%;
        text-align: center;
        .wsp__texto{
            font-size: 1.2rem;
        }
        .wsp__img{
            width: 6rem;
            height: 6rem;
        }
    }

    .principal{
        .carousel{
            .carousel-inner{
                .carousel-item{
                    .d-block{
                        height: 27rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) and (orientation: landscape){

    .wsp{
        bottom: 13%;
        left: 85%;
        text-align: center;
        .wsp__texto{
            font-size: 0.8rem;
        }
        .wsp__img{
            width: 4rem;
            height: 4rem;
        }
    }

    .principal{
        .carousel{
            .carousel-inner{
                .carousel-item{
                    .d-block{
                        height: 27rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 425px) and (orientation: landscape){
    .principal{
        .carousel{
            .carousel-inner{
                .carousel-item{
                    .d-block{
                        height: 26rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 375px) and (orientation: portrait){
    .principal{
        .carousel{
            .carousel-inner{
                .carousel-item{
                    .d-block{
                        height: 26rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 320px) and (orientation: portrait){
    .principal{
        .carousel{
            .carousel-inner{
                .carousel-item{
                    .d-block{
                        height: 22rem;
                    }
                }
            }
        }
    }
}