
@media screen and (max-width: 1440px){
    li{
        margin: 0 8rem;
    }
    .div__contacto{
        margin-bottom: 2rem;
    }
    /* menu */
    .menu__producto{
        display: inline-block;
        text-align: center;
        width: 70rem;
        margin: 4rem 0rem;
    }
    .productoimg{
        width: 25rem;
        height: 25rem;
        margin-bottom: 1rem;
    }
}